body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.loader, .content {
    display: none;
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner {
    width: 85px;
    height: 85px;
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-top: 10px solid white;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    margin-bottom: 30px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.progress-bar {
    width: 250px;
    height: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.progress {
    height: 100%;
    background: white;
    width: 0;
    border-radius: 10px;
    animation: load 5s ease-in-out infinite;
}

@keyframes load {
    0% { width: 0; }
    50% { width: 100%; }
    100% { width: 0; }
}

.content {
    text-align: center;
}
