body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  margin: 0;
}

.container {
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 15px black;
  max-width: 400px;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
  color: black;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

input[type="password"] {
  width: 98%;
  padding: 13px 2px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

input[type="text"] {
  width: 98%;
  padding: 13px 2px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

button#toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #aaa;
  font-size: 1.2em;
}

button#toggle-password:focus {
  outline: none;
}

#strength-meter {
  height: 10px;
  background-color: #ddd;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px;
}

#strength-bar {
  height: 100%;
  width: 0;
  transition: width 0.3s;
}

#suggestions {
  text-align: left;
  font-size: 0.9em;
  color: #666;
}
